apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "chart-deco-mcp-mesh.fullname" . }}-auth-config
  labels:
    {{- include "chart-deco-mcp-mesh.labels" . | nindent 4 }}
data:
  auth-config.json: |
{{ .Values.configMap.authConfig | toJson | indent 4 }}
